body {
  position: relative;
  user-select: none;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background: url(../img/bg.svg) top left / cover no-repeat;
}
