.container {
  visibility: hidden;
  max-width: 99vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0 3.5rem;

  @media only screen and (max-width: 1200px) and (orientation: landscape) {
    gap: 1rem;
  }

  @media only screen and (max-width: 1200px) and (orientation: portrait) {
    gap: 1rem;
  }
}
