@import url("https://fonts.googleapis.com/css2?family=Mina&display=swap");

%fontfamily {
  font-family: "Mina", sans-serif;
  color: aqua;
}

%title {
  font-size: 5rem;
  font-weight: bolder;
  color: #0e2a47;
  text-shadow: 0 0 1rem #fff;
  text-align: center;
}

%subtitle {
  font-size: 4.5rem;
  font-weight: bolder;
  color: aqua;
  text-shadow: 0 0 0.5rem #000;
  text-align: center;
}

%form {
  font-size: 1.1rem;
  color: #0e2a47;
  font-weight: bolder;
}

%suggestions {
  font-size: 1rem;
  color: #0e2a47;
}

%suggestions-hover {
  font-size: 1rem;
  color: aqua;
}

%text {
  font-size: 0.9rem;
  color: aqua;
}

%button-form {
  font-size: 1.5rem;
  color: aqua;
  text-shadow: 0 0 0.2rem #000;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 0.1rem;
}

%button-form-hover {
  text-shadow: 0 0 0.1rem #ccc;
}

%button-form-active {
  text-shadow: 0 0 0.2rem #ccc;
}
