button[type='geoLocation'] {
    display: none;
    border-radius: 50%;
    min-width: 8rem;
    flex-basis: 45%;
    justify-content: center;
    background: transparent;
    z-index: 1;
}

.globe {
    background: darken($color: #0e2a47, $amount: 5%);
    box-shadow: inset -0.2rem -0.2rem 0.5rem #040c14;
    border-radius: 50%;
    height: 8rem;
    overflow: hidden;
    width: 8rem;
    position: relative;

    svg {
        animation: rotation 8s linear 0s infinite;
        z-index: 0;

        path {
            stroke: #24588f;
        }
    }
}

@keyframes rotation {
    from {
        transform: translateX(0);
    }
    from {
        transform: translateX(-50%);
    }
}

@keyframes rotation2 {
    to {
        transform: translateX(-100%);
    }
}

.line-wrap {
    @extend %button-form;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -0.75rem 0 0 -6.25rem;
    width: 31.25rem;
    overflow: hidden;

    &:hover {
        @extend %button-form-hover;
    }

    &:hover {
        @extend %button-form-active;
    }

    .line {
        white-space: nowrap;
        text-indent: 10rem;
        animation: rotation2 8s linear 0s infinite;
    }
}
