.suggestions {
  max-width: 15rem;
  min-width: 15rem;
  max-height: 25vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba($color: #fff, $alpha: 0.9);
  border-radius: 0.2rem;
  padding: 0 0 0 0.2rem;
  z-index: 1;

  div {
    @extend %suggestions;
    width: 100%;
    height: fit-content;
    &:hover {
      @extend %suggestions-hover;
      cursor: pointer;
      background: #24588f;
    }
  }
}
