.time {
  visibility: hidden;
  @extend %text;
  width: 34rem;
  max-width: 99vw;
  height: 5.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem 0;
  padding: 1.1rem 0;
  border-radius: 1rem;
  background: rgba($color: #0e2a47, $alpha: 0.9);
  box-shadow: 0 0 2rem #fff;

  @media only screen and (max-width: 1200px) and (orientation: landscape) {
    width: 75vw;
  }

  #updateTime {
    text-align: center;
  }
}
